/* FOOTER CSS */
footer{
    background-image: url(../../res/img/banniere.png);
    position: absolute;
    min-height: 120px;
    height: 20%;
    z-index:100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    transition: all .50s ease;
    margin-top: 70px;
    right: 0;
    left: 0;
}

.sub-menu-f {
    display: none; 
    position: absolute;
    background: #222327;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
    top: auto;
    bottom: 45%;
    border: 2px outset yellow;
}
.sub-menu-f li{
    line-height: 30px
}
.sub-menu-f.open{
    display: block;
}

/* CONTENEUR ICONES CONTACTS */
.icon-navbar{
    max-width: 30px;
    max-height: 30px;
    width: 7vw;
    height: 7vw;
}
.footer-icon-container img{
    margin: 20px 10px;
    transition: all .50s ease;
}
.footer-icon-container a{
    text-decoration: none;
}
.footer-tooltip {
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 1);
    font-family: "kanit";
    color: #fff;
    padding: 5px 30px;
    border-radius: 5px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.icon-navbar:hover + .footer-tooltip {
    display: block;
}
/* MENU FOOTER */
.footer-navbar{
    display: none;
    list-style: none;
}
.footer-navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    text-decoration: none;
    list-style: none;
}

.footer-navbar a:hover{
    color: var(--yellow-logo);
}
.footer-navbar a.active{
    color: var(--yellow-logo);
    font-family: "kanit";
}
.copyright{
  margin-bottom:5px;
  font-size:13px;
  color:#aaa;
}


@media(min-width: 1300px){
    .footer-navbar{
        display: flex;
    }
}