*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "kanit";
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
    --grey-color: #7C7C7C;
    --brown-color: #92874ec6;
    --brownhover-color: #e8d78b;
    --red-color: #700F06;
    --darkred-color: #361405;
    --yellow-logo: #fff000;
}

body{
    background: var(--text-color);
    color: var(--bg-color);
    margin-top: 15vh;
    padding: 50px;
    text-align: justify;
}

p{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #000000;
    font-family: "kanit-l";
}
h1{
    font-size: 35px;
    text-align: center;
    color: #000000;
    font-family: "kanit-b";
}
h2{
    font-size: 25px;
    text-align: center;
    color: #000000;
    font-family: "kanit-sb";
}