*{
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-family: "kanit-l";
}
a{
    color: #fff;
    text-decoration: underline;
}

:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
    --grey-color: #7C7C7C;
    --brown-color: #92874ec6;
    --brownhover-color: #e8d78b;
    --red-color: #700F06;
    --darkred-color: #361405;
    --yellow-logo: #fff000;
    --bgd-color:#E7E7E7;
}
.page{
    display: flex;
    padding: 50px;
}
main{
    position: relative;
    flex: 2;
}
body{
    background: var(--bgd-color);
    color: var(--bg-color);
    padding-top: 20vh;
    text-align: justify;
}
p{
    margin-top: 10px;
    margin-bottom: 20px;
}
h1{
    font-size: 35px;
    text-align: center;
    color: #000000;
    font-family: "kanit-b";
}
h2{
    font-size: 25px;
    text-align: center;
    color: #000000;
    font-family: "kanit-sb";
}
h3{
    font-size: 20px;
    text-align: left;
    color: #000000;
    font-family: "kanit-sb";
}
p ol{
    font-family: "kanit-l";
    font-size: 17px;
    list-style: circle;
    text-align: center;
}

.infoutils{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.infoutils li{
    line-height: 50px
}