*{
	font-family: Arial, Helvetica, sans-serif;
}
.container{
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.license h1{
color:white;
    text-align:center;
    background-color:black;
}
.licence-text{
	n
}
.licence p{
    color:white;
    text-align:center;
    background-color: rgb(169,169,169);
}
.licence-text{
	background-color: ;
}
li {
	list-style: inside;
	 margin-top: 10px;
}
h1{
    color:white;
    text-align:center;
    background-color:black;
}
.licence{
	background-image: url("../../res/img/logo_ferristes.png");
  background-position: center center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;

  bak
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
  
  /* Pick a solid background color that will be displayed while the background image is loading */
  background-color:#464646;
  
  /* SHORTHAND CSS NOTATION
   * background: url(background-photo.jpg) center center cover no-repeat fixed;
   */
}


