*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "kanit";
}

:root{
  --bg-color: #ffffff;
  --text-color: #ffffff;
  --main-color: #29fd53;
  --grey-color: #7C7C7C;
  --brown-color: #92874ec6;
  --brownhover-color: #e8d78b;
  --red-color: #700F06;
  --darkred-color: #361405;
}

header{
  /* placement sur la page  */
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  min-height: 65px;
  height: 20%;
  z-index: 1000;
  /* elements dans ce conteneur */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  /* autre */
  background-image: url(../../res/img/banniere.png);
   
}

body{
  /* position */
    /* margin-top: 20%; */
  /* personnalisation */
    background-color: var(--bg-color);
}

p{
  width: 100%;
  text-align: center;
  font-size: 15px;
  padding: 50px;
  color: #000000;
  font-family: "kanit-b";
}

h1{
margin-left: 20%;
text-align: left;
font-size: 35px;
color: #000000;
font-family: "kanit-sb";
}

h2{
  margin-left: 20%;
  text-align: left;
  font-size: 35px;
  color: #000000;
  font-family: "kanit-sb";
}

.logo_banner{
  margin-top: 5%;
  transition: all .50s ease;
}
.icon-container img{
  margin: 0px 10px;
  transition: all .50s ease;
}
.icon-navbar{
  max-width: 30px;
  max-height: 30px;
  width: 7vw;
  height: 7vw;
}
.menu ul{
  display: flex;
  align-items: center;
  /* padding: 5px 0; */
  /* margin: 0px 30px; */
}

.navbar{
  display: flex;
}
.navbar a{
  color: var(--text-color);
  font-size: 1.1rem;
  font-weight: 500;
  transition: all .50s ease;
}

.navbar a:hover{
  color: var(--brownhover-color);
  font-weight: bold;
}

.navbar a.active{
  color: var(--brown-color);
  font-weight: bold;
}

.menu-icon{
  height: 50px;
  width: 50px;
  cursor: pointer;
  display: none;
  color: var(--text-color);
  background-image: url("../../res/img/menu-regular-156.png");
  background-size: contain;
  z-index: 10001;
  /* font-size: 15px; */
}

.chat{
  width: 15%;
  position: fixed;
  bottom: 0;
  right: 0;
}

/* .content {
  background-color: #E4E3E3;
  font-size: 40px;
  padding: 120px 80px;
} */

@media (min-width: 950px){
  header{
    padding: 14px 2%;
    transition: .5s;
  }
  .logo_banner{
    width: 15vw;
    height: 15vw;
    max-height: 200px;
    max-width: 200px; 
  }
  .navbar a{
    padding: 5px 0;
    margin: 0px 20px;
  }
  .menu ul{
    padding: 5px 0;
    margin: 0px 20px;
  }
  
}

@media (max-width: 950px){
  header{
    height: 10%;
  }
  .logo_banner{
    max-height: 70px;
    max-width: 70px;
    min-height: 50px;
    min-width: 50px;
    margin-top: 0px;
  }
  .icon-navbar{
    max-width: 30px;
    max-height: 30px;
  }
  .menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
    background: var(--darkred-color);
  }
  .navbar a{
    display: block;
    margin: 12px 0px;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .navbar a:hover{
    color: var(--brownhover-color);
    transform: translateX(10px);
    font-weight: bold;
  }
  .navbar a.active{
    color: var(--brown-color);
    font-weight: bold;
    transform: translateX(10px);
  }
  .navbar.open{
    right: 2%;
  }
}

@font-face {
  font-family: kanit;
  src: url(../../res/fonts/Kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: kanit-t;
  src: url(../../res/fonts/Kanit/Kanit-Thin.ttf);
}
@font-face {
  font-family: kanit-sb;
  src: url(../../res/fonts/Kanit/Kanit-SemiBold.ttf);
}
@font-face {
  font-family: kanit-m;
  src: url(../../res/fonts/Kanit/Kanit-Medium.ttf);
}
@font-face {
  font-family: kanit-sb;
  src: url(../../res/fonts/Kanit/Kanit-SemiBold.ttf);
}
@font-face {
  font-family: kanit-b;
  src: url(../../res/fonts/Kanit/Kanit-Bold.ttf);
}
@font-face {
  font-family: kanit-l;
  src: url(../../res/fonts/Kanit/Kanit-Light.ttf);
}
@font-face {
  font-family: kanit-bi;
  src: url(../../res/fonts/Kanit/Kanit-BoldItalic.ttf);
}
@font-face {
  font-family: kanit-i;
  src: url(../../res/fonts/Kanit/Kanit-Italic.ttf);
}