.chaticon {
    background-image: url("../../res/img/chat-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 19%;
    height: 13%;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: opacity .7s;
    cursor: pointer; 
    z-index: 11000001; 
}
.chaticon.scrolled {
    opacity: 0.15;
}
.chaticon:hover{
    opacity: 1;
    transition: opacity .2s;
}

.chat{
    width: 25%;
    height: 50%;
    background-image: url(../../res/img/form_bg.png);
    border-radius: 15px;
    z-index: 11000001;
    position: fixed;
    bottom: 15%;
    right: 2%;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    border: 2px solid rgb(255, 255, 255);
}
.chat.open{
    display: flex;
}

.chat .chat-msg{
    height: 92%;
    width: 100%;
    margin-bottom: 5px;
    overflow-y: auto;
    backdrop-filter: blur(20px);
    border-radius: 5px;
    padding: 6%;
}
.chat .chat-msg p{
    color: white;
}
.chat .chat-textbox{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 25%;
    padding-top: 4%;
}

.chat .chat-textbox .chatbox{
    width: 80%;
    height: 90%;
    margin-right: 5px;
    background-color: transparent;
    
    color: white;
    resize: none;
    font-size: 100%;
    border-radius: 9px;
    border: 2px solid white;
    padding: 2%;
    outline: none;
}

.chat .chat-textbox .chatbox::placeholder{
    color: white;
}

.chat .chat-textbox .send-btn{
    width: 25%;
    height: 75%;
    margin: auto;
    background-image: url("../../res/img/chat-send-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000000001;
}

@media screen and (max-width: 1100px){
    .chat{
        width: 65%;
    }
}