@font-face {
    font-family: kanit;
    src: url(../../res/fonts/Kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit-t;
    src: url(../../res/fonts/Kanit/Kanit-Thin.ttf);
}
@font-face {
    font-family: kanit-sb;
    src: url(../../res/fonts/Kanit/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: kanit-m;
    src: url(../../res/fonts/Kanit/Kanit-Medium.ttf);
}
@font-face {
    font-family: kanit-sb;
    src: url(../../res/fonts/Kanit/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: kanit-b;
    src: url(../../res/fonts/Kanit/Kanit-Bold.ttf);
}
@font-face {
    font-family: kanit-l;
    src: url(../../res/fonts/Kanit/Kanit-Light.ttf);
}
@font-face {
    font-family: kanit-bi;
    src: url(../../res/fonts/Kanit/Kanit-BoldItalic.ttf);
}
@font-face {
    font-family: kanit-i;
    src: url(../../res/fonts/Kanit/Kanit-Italic.ttf);
}