*{
    box-sizing: border-box;
    text-decoration: none;
    color: var(--mode-text);
    font-family: "kanit-l";
}
:root{
    --text-color: #fefefe;
    --main-color: #29fd53;
    --grey-color: #7C7C7C;
    --brown-color: #92874ec6;
    --brownhover-color: #e8d78b;
    --red-color: #700F06;
    --darkred-color: #361405;
    --yellow-logo: #fff000;
    --bgd-color:#E7E7E7;
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}
main{
    position: relative;
    padding: 50px;
    flex: 2;
}
body{
    background: var(--bg-color);
    padding-top: 20vh;
    text-align: justify;
}
p{
    margin-top: 10px;
    margin-bottom: 20px;
}
a{
    color: var(--text-color);
    text-decoration: underline;
}

main h1{
    font-size: 35px;
    text-align: center;
    color: var(--mode-text);
    font-family: "kanit-b";
}
main h2{
    font-size: 25px;
    text-align: center;
    color: var(--mode-text);
    font-family: "kanit-sb";
}
main a{
    color: var(--mode-text);
}
h3{
    font-size: 20px;
    text-align: left;
    color: var(--mode-text);
    font-family: "kanit-sb";
}
p ol{
    font-family: "kanit-l";
    font-size: 17px;
    list-style: circle;
    text-align: center;
}
.page{
    display: flex;
}
.home{
    display: block;
    padding: 50px;
}
.wsidebar{
    flex-direction: row-reverse;
}

.infoutils{
    list-style: none;
    padding: 0;
    margin: 0;
}
.infoutils li{
    line-height: 50px
}

.article-images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.article-images img{
    height: 400px;
    width: auto;
    border-radius: 20px;
}


@media screen and (max-width: 1275px) {
    main{
        padding: 0px;
    }
    .nohome{
        padding: 30px;
    }
    .page {
        flex-direction: column;
    }
    .home{
        padding: 20px;
    }
    .wsidebar{
        flex-direction: column-reverse;
    }
    .article-images{
        flex-direction: column;
    }
    
    .article-images img{
        height: auto;
        width: 80%;
        margin: 5%
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --bg-color: #000000;
        --mode-text: #fefefe;
    }
}

@media (prefers-color-scheme: light) {
    :root{
        --bg-color: #fefefe;
        --mode-text: #000000;
    }
}
@font-face {
    font-family: kanit;
    src: url(../../res/fonts/Kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: kanit-t;
    src: url(../../res/fonts/Kanit/Kanit-Thin.ttf);
}
@font-face {
    font-family: kanit-sb;
    src: url(../../res/fonts/Kanit/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: kanit-m;
    src: url(../../res/fonts/Kanit/Kanit-Medium.ttf);
}
@font-face {
    font-family: kanit-sb;
    src: url(../../res/fonts/Kanit/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: kanit-b;
    src: url(../../res/fonts/Kanit/Kanit-Bold.ttf);
}
@font-face {
    font-family: kanit-l;
    src: url(../../res/fonts/Kanit/Kanit-Light.ttf);
}
@font-face {
    font-family: kanit-bi;
    src: url(../../res/fonts/Kanit/Kanit-BoldItalic.ttf);
}
@font-face {
    font-family: kanit-i;
    src: url(../../res/fonts/Kanit/Kanit-Italic.ttf);
}