.btn{
    padding: .5rem 1rem;
    background: black;
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: .25rem;
    text-decoration: none;
}

.btn:hover{
    background: rgb(47, 44, 44);
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.recent-post-container{
    width: 90%;
    margin: 30px auto 30px;
    /* border: 1px solid orange; */
    /* height: 750px; */

}
.recent-post-container .sidebarhome{
    width: 30%;
    /* height: 100%; */
    float: left;
    /* border: 1px dashed teal; */
    margin-top: 0;
}
.recent-post-container .sidebarhome .sidebaritem{
    height: 260px;
    margin: 30px;
    border-radius: 10px;
    background: var(--bg-color);
    position: relative;
    border: 2px solid var(--mode-text);
}
.recent-post-container .sidebarhome .long{
    height: max-content;
    margin: 30px;
    border-radius: 10px;
    padding-bottom: 30px;
    background: var(--bg-color);
    position: relative;
    border: 2px solid var(--mode-text);
}
.recent-post-container .sidebarhome .long .licelogo{
    height: 200px;
    margin: auto;
    display: block;
}

.recent-post-container .sidebarhome .sidebaritem .caltitle{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 30px;
}
.recent-post-container .sidebarhome .sidebaritem .licetitle{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 10px;
    font-size: 23px;
}

.recent-post-container .sidebarhome .sidebaritem .sidebarcontent{
    padding: 10px;
    text-align: center;
}
.recent-post-container .sidebarhome .sidebaritem .calendar-dn{
    padding: .5rem 1rem;
    width: 60%;
    text-align: center;
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: .25rem;
    text-decoration: none;
    background: rgb(1, 83, 1);
    margin: auto;
    display: block;
}
.recent-post-container .sidebarhome .sidebaritem .calendar-dn:hover{
    background: rgb(1, 122, 5);
}

.recent-post-container .recent-post{
    width: 70%;
    float: left;
    max-height: 750px;
    overflow-y: auto;
}
.recent-post-container .recent-post .recent-post-title{
    margin: 20px;
    color: var(--mode-text);
    text-align: left;
    text-decoration: none;
}
.recent-post-container .recent-post .post{
    width: 95%;
    /* height: min-content; */
    margin: 10px auto;
    border-radius: 10px;
    background: var(--bg-color);
    position: relative;
    /* border: 1px dotted violet; */
    display: flex;
    flex-direction: row;
    border: 2px solid var(--mode-text);
}
.recent-post-container .recent-post .post .preview-text{
    padding-top: 0px;
}
.recent-post-container .recent-post .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: 1px solid black;
    background: var(--mode-text);
    border-radius: 5px;
    color: var(--bg-color);
    border: 1px solid var(--text-color);
}
.recent-post-container .recent-post .post .read-more:hover{
    color: var(--mode-text);
    background: var(--bg-color);
    transition: .25s;
    transform: translateX(3px);
}
.recent-post-container .recent-post .post .preview-title{
    margin-bottom: 10px;
}
.recent-post-container .recent-post .post .preview-title a{
    color: var(--mode-text);
    text-decoration: none;
}
.recent-post-container .recent-post .post .preview-title a:hover{
    font-style: oblique;
}

.recent-post-container .recent-post h1{
    color: var(--mode-text);
    text-align: left;
    margin: 0;
}
.recent-post-container .recent-post .post .post-image{
    width: 40%;
    /* height: 100%; */
    float: left;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.recent-post-container .recent-post .post .copyright-preview{
    width: 10px;
    height: 10px;
}
.recent-post-container .recent-post .post .date-preview{
    width: 12px;
    height: 12px;
}
.recent-post-container .recent-post .post .post-preview{
    width: 60%;
    padding: 30px 30px;
    float: right;
    /* border: 1px dotted darkcyan; */
}

@media screen and (max-width: 1140px) {
    .recent-post-container{
        width: 100%;
        margin: 20px  0px;
    }
    .recent-post-container .recent-post .post .preview-title a{
        font-size: 24px;
    }
    .recent-post-container .recent-post .post .preview-text{
        font-size: 14px;
    }
    .recent-post-container .sidebarhome .sidebaritem{
        height: auto;
        margin: 20px;
        padding-bottom: 20px;
        border-radius: 5px;
    }
    .recent-post-container .sidebarhome .long{
        height: auto;
        margin: 20px;
        border-radius: 5px;
        padding-bottom: 20px;
    }
    .recent-post-container .sidebarhome .long .licelogo{
        /* padding: 30px; */
        margin: auto;
        display: block;
    }
}
@media screen and (max-width: 750px) {
    .recent-post-container{
        display: flex;
        flex-direction: column;
    }
    .recent-post-container .sidebarhome{
        width: 100%;
        height: 40%;
    }
    .recent-post-container .recent-post{
        width: 100%;
        height: 60%;
    }
}

@media (prefers-color-scheme: light){
    .recent-post-container .recent-post .post .copyright-preview .dark{
        visibility: hidden;
    }
    .recent-post-container .recent-post .post .date-preview .dark{
        visibility: hidden;
    }
}

@media (prefers-color-scheme: dark){
    .recent-post-container .recent-post .post .copyright-preview .light{
        visibility: hidden;
    }
    .recent-post-container .recent-post .post .date-preview .light{
        visibility: hidden;
    }
}