.sign-form{
    width: 60%;
    height: 60%;
    background-color: rgba(255, 255, 255, .85);
    backdrop-filter: blur(5px);
    border: 2px solid black;
    border-radius: 15px;
    z-index: 11000001;
    position: fixed;
    display: none;
    top: 25%; 
    left: 20%;
    flex-direction: column;
    padding: 8px;
}

.sign-form form{
    margin: 0 3vw 0 3vw ;
    padding-top: 2%;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.sign-form .login{
    justify-content: space-evenly;
}

.sign-form form div{
    display: flex;
    flex-direction: row;
}


.sign-form form div input {
    margin-left: 10px;
    margin-right: 5px;
    flex-grow: 1;
}

.btn-form {
    padding: 3%;
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    background: #000a9a;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    box-shadow: 1px 1px 1px black;
    color: #fff;
    text-transform: uppercase;
}

.btn-form:hover {
    background: #0612bc;
    cursor: pointer;
}
.btn-form:disabled,
.btn-form[disabled=disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
.btn-form:focus {
    outline: none;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    font-size: 1em;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}

.sign-form form div small {
    padding: 0;
}

.sign-form .link{
    margin: auto;
    padding: 20px;
    color: black;
}

.loginbox.open{
    display: flex;
}

.signinbox.open{
    display: flex;
}
@media screen and (max-width:900px){
    .sign-form{
        height: 70%;
    }
    .sign-form form div{
        flex-direction: column;
    }
    .sign-form form div input {
        margin-left: 0px;
        margin-right: 0px;
    }
    .btn-form{
        font-size: .4em;
    }
}